Repository mloureiro/react-native-expandable-text: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint --fix, remark --output --quiet --frail

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "yarn lint --fix",
    "git add"
  ],
  "*.md": "remark --output --quiet --frail"
}

Fix documentation style issues
  README.md
Due: remark --output --quiet --frail

Set React and Native as dependencies
  package.json
Due: none

Fix linting issues
  src/__tests__/utils.spec.tsx
  tslint.json
Due: prettier --write, yarn lint --fix

Move License to non-doc file
  LICENSE
Due: none

Include test files in the compilation
  tsconfig.json
Due: none

Setup markdown linter
  .lintstagedrc.json
  .remarkrc
  package.json
  yarn.lock
Due: none

Setup code analysis tool
  .travis.yml
  README.md
  package.json
  yarn.lock
Due: remark --output --quiet --frail

Update the coverage badges
  README.md
Due: remark --output --quiet --frail

Stage updated files after markdown lint on stage
  .lintstagedrc.json
Due: none

Remove ReactPortal condition from extract text method
  src/utils.ts
Due: prettier --write, yarn lint --fix

Make onReady more detailed
  src/ExpandableText.tsx
Due: prettier --write, yarn lint --fix

Trigger onChange to easily inform parent component
  src/ExpandableText.tsx
Due: prettier --write, yarn lint --fix

Fix child types on ExpandableText
  src/ExpandableText.tsx
Due: prettier --write, yarn lint --fix

Specify the match for the test files
  jest.config.json
  yarn.lock
Due: none

Setup an executable example
  example/.gitignore
  example/App.ts
  example/README.md
  example/app.json
  example/assets/app-icon.png
  example/assets/splash-screen.png
  example/package.json
  example/src/ExampleText.tsx
  example/src/MainScreen.tsx
  example/src/Typography.tsx
  example/src/app.ts
  example/tsconfig.json
  example/tslint.json
  example/typings/getlorem.d.ts
  example/yarn.lock
  package.json
  scripts/watch-dev-changes
Due: prettier --write, yarn lint --fix, remark --output --quiet --frail

Update doc and example to include animated
  README.md
  assets/readme-example.gif
  example/src/MainScreen.tsx
  example/yarn.lock
Due: prettier --write, yarn lint --fix, remark --output --quiet --frail

Animate the expandable text
  package.json
  src/AnimatedExpandableText.tsx
  src/ExpandableText.tsx
  src/index.ts
  yarn.lock
Due: prettier --write, yarn lint --fix

0.2.0
  package.json
Due: none

Set homepage in package.json
  package.json
Due: none

0.2.1
  package.json
Due: none

Fix documentation alignment
  README.md
Due: remark --output --quiet --frail

Use repository instead of homepage
  package.json
Due: none

0.2.2
  package.json
Due: none

Use full URL for image
  README.md
Due: remark --output --quiet --frail

0.2.3
  package.json
Due: none
